/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: black;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  color: black;
  background-color: #153d68;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul .center {
  color: black;
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul img {
  max-width: 100px;
  border-radius: 50%;
  align-items: center;
}

.center{
  display: block;
  justify-content: center;
  align-items: center;
}

.tut{
  width: 230px;
  height: 100px;
  display: flex;
  align-items: center;
}

.ima{
  display: block;
  height: 100px;
  align-items: center;
}

.alineacion{
  display: block;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: #000000;
}

.homeIma{
  width: 1370px;
}