body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  min-height: 610px;
  background-color: #153d68;
  color: #fff;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin: 0;
}


.lista{
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

li {
  margin: 10px;
  padding: 10px;
  background-color: #007bff;
  border: 1px solid #007bff;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

li:hover {
  background-color: #004a9e;
  color: #fff;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

button:hover {
  background-color: #0056b3;
  font-size: 18px;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.alineacion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeIma {
  width: 100%;
  max-height: 400px;
}

.venta-details {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000000;
}

.venta-details strong {
  font-weight: bold;
}

.eliminar-button {
  background-color: #ff5733;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.editar-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.eliminar-button:hover, .editar-button:hover {
  opacity: 0.8;
  background-color: #000000
}

.formulario-agregar {
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px auto; /* Centrar horizontalmente */
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #000;
  max-width: 400px;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}



.formulario-agregar:hover {
  background-color: #e6e6e6; 
}


.formulario-agregar label {
  font-weight: bold;
}

.formulario-agregar input[type="text"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; /* Incluir padding y borde en el ancho total */
}

.formulario-agregar button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, font-size 0.3s;
}

.formulario-agregar button[type="submit"]:hover {
  background-color: #0056b3;
  font-size: 18px;
}

.select-list {
  width: 100%;
  padding: 8px; 
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select-list option:hover {
  background-color: #007bff;
  color: #fff;
}

h1 {
  font-size: 36px; /* Tamaño de fuente inicial */
  opacity: 0; /* Inicialmente invisible */
  transform: translateY(-20px); /* Desplazamiento hacia arriba */
  animation: fadeInUp 0.5s ease-out 0.3s forwards;
}

/* Animación de entrada y presentación */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes titleAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50px) rotate(45deg);
  }
  60% {
    transform: translateY(0) rotate(0deg); /* Rotación completa */
  }
  100% {
    opacity: 1;
    transform: translateY(0) rotate(0deg);
  }
}

/* Estilo para el enlace */
a {
  text-decoration: none; /* Eliminar subrayado del enlace */
  color: #007bff; /* Color del texto del enlace */
  transition: color 0.3s; /* Transición de color al pasar el cursor */
}

a:hover {
  color: #000000;
}

/* 
  Based from this article from Divya Manian - 
  http://nimbupani.com/using-background-clip-for-text-with-css-fallback.html
*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

* {
    margin: 0;
    padding: 0;
}

*,
:before,
:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html,


body {
    font-family: 'Oswald', sans-serif;
    color: #fff;
    background-color: #000;
}

.wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 2em;
    position: relative;
    margin: 0 auto 1em;
    text-align: center;
    text-transform: uppercase;
    
}
.title:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    height: 4px;
    margin-left: -120px;
    content: '';
    background-color: #fff;
}

/* Clip text element */
.clip-text {
    font-weight: bold;
    line-height: 1;
    text-align: center;
    text-align: center;
    color: #fff;
    -webkit-text-fill-color: transparent;
}
.formulario-agregar {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
}

.formulario-agregar.mostrar {
  max-height: 600px;
  transition-delay: 0.2s;
  opacity: 1;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.footer-links li {
  display: inline;
  margin: 0 10px;
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.footer-links a:hover {
  color: #007bff;
}

.imagen{
  margin-bottom: 85px;
  margin-top: 85px;
  display: flex;
  justify-content: center;
}

img{
  border-radius: 50%;
  width: 440px;
  height: 440px;
}